PGHOST=aws-1-sa-east-1.pooler.supabase.com
PGPORT=5432
PGDATABASE=postgres
PGUSER=postgres.nndduotjbyunggamqnyh
PGPASSWORD=

RECALL_PORT=3001
RECALL_DB_SCHEMA=recall

CHATWOOT_BASE_URL=https://atendimento.oc332.com.br
CHATWOOT_ACCOUNT_ID=1
CHATWOOT_API_ACCESS_TOKEN=
CHATWOOT_RECALL_INBOX_ID=5
RECALL_AGENT_ENABLED=true
RECALL_AGENT_SENDER=camila_recall
RECALL_AGENT_DELAY_MIN_MS=1200
RECALL_AGENT_DELAY_MAX_MS=2800
CHATWOOT_RECALL_LABEL_HANDOFF=recall_agendar
CHATWOOT_RECALL_LABEL_IA_OFF=ia_off
CHATWOOT_RECALL_LABEL_AGUARDANDO=aguardando_atendimento
CHATWOOT_RECALL_LABEL_OPT_OUT=recall_opt_out
CHATWOOT_RECALL_LABEL_WRONG_NUMBER=recall_numero_errado
CHATWOOT_RECALL_LABEL_SEM_INTERESSE=recall_sem_interesse

RECALL_META_WHATSAPP_TOKEN=
RECALL_META_PHONE_NUMBER_ID=1185849817944465
RECALL_PUBLIC_HOST=dashboard.oc332.com.br

CLINIC_NAME=OrthoDontic SJC 15 DE NOVEMBRO

RECALL_DRY_RUN=true
RECALL_ENABLE_REAL_SEND=false
RECALL_TEST_DESTINATION_PHONE=5512991286873
RECALL_ALLOWED_PHONES=5512991286873
RECALL_MAX_SENDS_PER_RUN=1
RECALL_TIME_WINDOWS=10:00-18:00

RECALL_TEMPLATE_OPENING=recall_abertura_1
RECALL_TEMPLATE_REMINDER=recall_lembrete_2
RECALL_TEMPLATE_LANGUAGE=pt_BR
RECALL_TEMPLATE_USE_FIRST_NAME=true
RECALL_REMINDER_DELAY_DAYS=3
